<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WKWebviewDemo(OC).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F23F1031C9A82A7002DF03F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F23F11C1C9A82A7002DF03F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F23F1271C9A82A7002DF03F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
