<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>runtime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F5E37381C8961EA000A5672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5E37511C8961EA000A5672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5E375C1C8961EA000A5672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
